p{color:black;}

html{
    scroll-behavior: smooth;
}

header{
    padding: 15px 0;
    position: sticky;
    top: 0;
    nav a{color: blueviolet;}
    background-color: lightcyan;
    
}

nav{
    display: flex;
    justify-content: center;
    gap: 40px;
}



main p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 800px;
}

main img{
    display: block;
    margin: 0 auto;
    height: 800px;
    background-color: cyan;
}
p2{color: white;}
main p2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 800px;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: aqua;
}